{% extends "layout.html" %}
{% block body %}

    <div class="scroll-win">
        <table>
            {% for message in messages['responses'] %}
                {% set messageID=message['headers']['JMSMessageID'] %}
                <tr class="tr-list" onclick="javascript:message_click('{{ messageID }}')">
                    {% for prop in message['properties']|sort(attribute='key')  %}
                    <td style="white-space:nowrap;"><small><b>{{ prop['key'] }}:</b>{{ prop['value'] }}</small></td>

                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <small>Number of messages in total:{{ total_num_messages }}</small>
    <script>
        function message_click(messageid) {

            window.open('/view_message/{{ queue }}/'+messageid,
                        'messageView','width=700,height=850,scrollbars=no')


        }
    </script>
{% endblock %}