{% extends "layout.html" %}
{% block body %}
<h2>Login</h2>
<form action="{{ url_for('landing_page') }}do_other_server" method=POST accept-charset="utf-8">
    <dl>
        <dt><br/>Server:
        <dd><input type=text name=servername>
        <dt><br/>Port:
        <dd><input type=text name=port>
        <dt><br/>User:
        <dd><input type=text name=username>
        <dt><br/>Password:
        <dd><input type=password name=password>
        <dd><br/><input type=submit value="Login">
    </dl>
</form>
{% endblock %}